<!DOCTYPE html>
<html>
  <head>
    <title>Openstable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.gmaps[:api_key]}" %>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Dosis&display=swap', media: 'all' %>
    <%= javascript_include_tag 'application', 'https://kit.fontawesome.com/a6ccfa9636.js' %>
  </head>

  <script type='text/javascript'>
    window.splash1URL = "<%= image_url('splash1.jpg') %>"
    window.splash2URL = "<%= image_url('splash2.jpg') %>"
    window.splash3URL = "<%= image_url('splash3.jpg') %>"
    window.splash4URL = "<%= image_url('splash4.jpg') %>"
    window.featureNEURL = "<%= image_url('NortheastFeature.jpg') %>"
    window.featureSEURL = "<%= image_url('SoutheastFeature.jpg') %>"
    window.featureSURL = "<%= image_url('SouthFeature.jpg') %>"
    window.featureMWURL = "<%= image_url('MidwestFeature.jpg') %>"
    window.featureWURL = "<%= image_url('WestFeature.jpg') %>"
    window.featureOURL = "<%= image_url('OtherFeature.jpg') %>"
    window.showBannerURL = "<%= image_url('banner.jpg') %>"
  </script>

  <body>
    <%= yield %>
  </body>
</html>
